App/server_raspi/iot-raspi.json
App/client/iot_app.json
siamese_network/__pycache__
siamese_network/classifiers/binary_class/utils/__pycache__
siamese_network/classifiers/multi_class/utils/__pycache__
siamese_network/.idea
dataset
