aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1713964820544/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1708987703938/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001721842/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1715043902121/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645449276/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1714508947775/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1715426397394/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1711011113292/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1702435542843/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1702414855226/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1710166281514/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1679483503307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040729125/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225359967/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=031b7d6b2e5e604d9e21fc21be713ebf28ce133ec872dce6de006742d5e49bab
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897630316/work
proto-plus @ file:///home/conda/feedstock_root/build_artifacts/proto-plus_1702003338643/work
protobuf==4.25.3
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1713209357222/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1713209683338/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyfiglet==0.8.post1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1706895065046/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pypng @ file:///home/conda/feedstock_root/build_artifacts/pypng_1657927854370/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373450623/work
qrcode @ file:///home/conda/feedstock_root/build_artifacts/qrcode_1675713361580/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1716263371870/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
setuptools==69.5.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1634152692041/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1707295114593/work
wheel==0.43.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508298164/work
